---
---

$primary_color: {{ site.color | default: "#a505f0" }};
$gradient_start: #8027C6;
$gradient_end: #FB0281;

.share-button {
   background-color: $primary_color;
   border-color: $primary_color;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
}

body{
   font-family: Quicksand system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LeagueSpartan, system-ui, sans-serif;
  text-transform: uppercase;
}

#customlogo{
   font-family: LeagueSpartan, system-ui, sans-serif;
   font-weight: bold;
}

.customgradient{
   background: -webkit-linear-gradient(to right, $gradient_start, $gradient_end);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
